* {
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 5em auto;
}

.mix {
  display: none;
  text-align: center;
  width: 23%;
  margin: 1em 1%;
  background-color: #ccc;
}

.p150, .p225, .p275, .p350{
  font-family: 'Helvetica', sans-serif;
  font-size: 1.15em;
  letter-spacing:.5px;
  color: #000;
}

button {
  background: #666666;
  border: none;
  color: #fff;
  padding: .65em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.category{
  max-height: 50px;
  width: 100%;
  display: inline-block;
}

.category button{
  width: 10%;
  max-width: 125px;
  height: 40px;
  padding: .25em;
  float: left;
  margin: 0 10px 10px 10px;
}

.category button:nth-child(1) span{
  margin-left: 20%;
}

.category button span{
    vertical-align: sub;
    display: inline-block;
}

.category button img{
  height: 25px;
  width: 25px;
  vertical-align: middle;
  float: right;
}

.pricing{
  max-height: 50px;
  width: 100%;
  margin-left: 6%;
  display: inline-block;
}

.pricing button{
  width: 7%;
  max-width: 100px;
  height: 40px;
  padding: .25em;
  float: left;
  margin: 0 10px 10px 10px;
}

.pricing button:nth-child(1){
  background-color: gold;
  color: #000;
}

.pricing button:nth-child(2){
  background-color: lightblue;
  color: #000;
}

.pricing button:nth-child(3){
  background-color: red;
  color: #000;
}

.pricing button:nth-child(4){
  background-color: limegreen;
  color: #000;
}

.p150{
  background-color: gold;
}

.p225{
  background-color: lightblue;
}

.p275{
  background-color: red;
}

.p350{
  background-color: limegreen;
}


input{
  padding: .5em;
}

.title {
  font-weight: 2em;
}